footer{
    padding-top: 751px;

}

#container #header{

    background-color:#1e272e;
    color: white;
    text-align: center;
    height: 50px;
    margin-bottom: 0 !important;
    border: 0 !important;
    margin-bottom: 5px;
 }

 